---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import FaucetForm from "../components/FaucetForm";
---
<BaseLayout title="KuvarPay Faucet">
  <main class="min-h-screen flex items-center justify-center p-4">
    <div class="w-full max-w-xl">
      <Header />
      <FaucetForm client:load />
    </div>
  </main>
</BaseLayout>
