---
import "../styles/global.css";
import Logo from "../components/Logo.astro";
const { title = "KuvarPay Faucet" } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-black text-white antialiased">
    <Logo />
    <slot />
  </body>
</html>